# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.eggs/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environment
.venv/
env/
ENV/
venv/

# Data files
data/
*.csv

# OS files
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/ 